/* your styles go here */

.navbar ul.nav > li > a {
  font-family: Helvetica, Arial, sans-serif !important;
}

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.box-simple .icon {
  font-size: 30px;
}


.welcome {
  position: relative;
  background: url('../img/header-bg.jpg') center center repeat;
  background-size: cover;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.welcome .dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #467fbf;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.welcome .owl-carousel {
  padding-top: 60px;
  padding-bottom: 20px;
  height: 520px;
  text-align: center;
}
.welcome .owl-theme .owl-controls .owl-page span {
  background: #666;
}
.welcome .owl-theme .owl-controls .owl-page.active span {
  background: #fff;
}
.welcome .owl-theme .owl-controls .owl-page:hover span {
  background: #fff;
}
.welcome .logo {
  margin-top: 70px;
  width: 500px;
}
@media (max-width: 767px) {
  .welcome {
    text-align: center !important;
  }
}
@media (min-width: 992px) {
  .welcome .right {
    text-align: right;
  }
}
.welcome h1,
.welcome h2,
.welcome h3,
.welcome p,
.welcome ul {
  color: #fff;
}
.welcome h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 56px;
  letter-spacing: 0.08em;
}
@media (max-width: 991px) {
  .welcome h1 {
    font-size: 36px;
  }
}
.welcome h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 0.08em;
}
.welcome ul,
.welcome p {
  font-size: 18px;
  font-weight: 700;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 0.10em;
}
.welcome p {
  margin-top: 30px;
}
@media (max-width: 991px) {
  .welcome ul,
  .welcome p {
    font-size: 14px;
  }
  .welcome .logo {
    width: 300px;
  }
}
.welcome ul li {
  margin-bottom: 10px;
}

.box-image-text .content h4 {
  height: 90px;
}

.box-image-text.blog .intro {
  height: 250px;
}

.bar.background-pentagon {
  /**background: #467fbf;*/
  background: white;
  border: none;
}

.clients-custom .dark-mask,
.see-more-custom .dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #467fbf;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.clients-custom h2 {
  color: white;
  border-bottom: solid 5px #d8d8d8;
}

.clients-custom .owl-carousel .owl-controls .owl-page.active span, 
.clients-custom .owl-theme .owl-controls .owl-page.active span, 
.clients-custom .owl-carousel .owl-controls.clickable .owl-page:hover span, 
.clients-custom .owl-theme .owl-controls.clickable .owl-page:hover span
{
  background: white;
}

.clients-custom 
.owl-theme .owl-controls .owl-page span {
  background: white;
}

.clients-custom .owl-item {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-custom .item img {
  filter: none;
}

.clients-custom .item img:hover {
  display: inline-block;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.blog_sneak_peak-custom .img-responsive {
  min-height: 200px;
}