{{ if isset .Site.Params "about" }}
{{ if .Site.Params.about.enable }}

<section class="bar background-white no-mb">
    <div class="container">

        <div class="col-md-12">
            <div class="heading text-center">
                <h2>{{ .Site.Params.about.title }}</h2>
            </div>

            <p class="lead text-center">
                W ramach Startup Makers wspieramy firmy w tworzeniu konkurencyjnych, 
                skalowalnych i rentownych biznesów o stabilnej strukturze i powtarzalnym modelu. 
                Pomagamy zarówno bardzo początkującym startupowcom, jak i dojrzałym firmom które potrzebują wsparcia w wybranych obszarach. 
                Nasza inicjatywa ma dwa cele - pomoc w rozwoju innowacyjnych startupów i wparcie inwestorów w znalezieniu najlepszych z nich.
            </p>

        </div>
    </div>        
</section>
{{ end }}
{{ end }}