{{ if isset .Site.Params "blog_sneak_peak" }}
{{ if .Site.Params.blog_sneak_peak.enable }}
<section class="bar background-white no-mb blog_sneak_peak-custom">
    <div class="container">

        <div class="col-md-12">
            <div class="heading text-center">
                <h2>{{ .Site.Params.blog_sneak_peak.title }}</h2>
            </div>

            <p class="lead">
              {{ .Site.Params.blog_sneak_peak.subtitle | markdownify }}
            </p>

            <!-- *** BLOG HOMEPAGE *** -->

            <div class="row">

                {{ range $index, $element := sort (.Site.Data.blog_sneak_peak) "sort" "desc" }}
                    {{ if lt $index 4 }}
                    <div class="col-md-3 col-sm-6">
                        <div class="box-image-text blog">
                            <div class="top">
                                <div class="image" style="overflow:hidden">
                                    {{ if .Image }}
                                    <img src="{{ .Image }}" class="img-responsive" alt="" >
                                    {{ else }}
                                    <img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-responsive" alt="">
                                    {{ end }}
                                </div>
                                <div class="bg"></div>
                                <div class="text">
                                    <p class="buttons">
                                        <a href="{{ .Permalink }}" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i> {{ i18n "readMore" }}</a>
                                    </p>
                                </div>
                            </div>

                            <div class="content">
                                <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                                <p class="author-category">
                                {{ with .Author }}
                                {{ i18n "authorBy" }} <strong>{{ . }}</strong>
                                {{ end }}
                                {{ i18n "publishedOn" }} {{ .DatePost }}
                                </p>
                                <p class="intro">{{ .Summary }}</p>
                                <p class="read-more">
                                <a href="{{ .Permalink }}" class="btn btn-template-main">{{ i18n "continueReading" }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                {{ end }}

            </div>
            <!-- /.row -->

            <!-- *** BLOG HOMEPAGE END *** -->

        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
