{{ if isset .Site.Params "welcome" }}
{{ if .Site.Params.welcome.enable }}

<section>
    <div class="welcome">
        <!-- <div class="dark-mask"></div> -->
        <div class="container">
            <div class="homepage owl-carousel">
                <div class="item">
                    <div class="row">
                        <div class="col-sm-12">
                            <img class="logo" src="{{ .Site.BaseURL}}img/startup-makers-logo.png" />
                            <!-- <h1>{{ .Site.Params.welcome.title }}</h1> -->
                            <ul class="list-style-none">
                                <li>{{ .Site.Params.welcome.subtitle1 }}</li>
                                <li>{{ .Site.Params.welcome.subtitle2 }}</li>
                            </ul>
                            <p class="text-center">
                                <a href="{{ .Site.Params.welcome.link_url }}" class="btn btn-template-transparent-black btn-lg">{{ .Site.Params.welcome.link_text }}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}
{{ end }}