<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>

        {{ partial "welcome.html" . }}

        {{ partial "carousel.html" . }}

        {{ partial "about.html" . }}

        {{ partial "features.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "blog_sneak_peak.html" . }}

        {{ partial "footer.html" . }}

        {{ partial "messenger_widget.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
